@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: #06623b;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 980px;

  margin: auto;
}

header h1 {
  margin-left: 20px;
  padding: 15px 0;
  color: #FFFFFF;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 2.4rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15)
}

h2 {
  color: rgb(75, 75, 75);
  font-size: 3.6rem;
  line-height: 4.6rem;
}

h3 {
  color: rgb(75, 75, 75);
  font-size: 2.8rem;
  line-height: 3.8rem;
}

/*=============== 
HERO
==================*/
section.hero {
  margin: 80px 0;
}

section.hero .container {
  width: 90%;
  max-width: 980px;

  margin: auto;

  display: flex;
}

section.hero p {
  color: rgb(154, 142, 191);
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
}

/*=============== 
MAIN
==================*/
main {
  margin-bottom: 80px;
  background: #06623b;
  opacity: 0.8;
}

/*=============== 
CARDS
==================*/
.cards {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text--medium {
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #FFFFFF;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-7px);
}

.image {
  background: #F6F3F4;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.description {
  margin-bottom: 20px;
}

.info {
  margin-top: 10px;
  color: #f6f3f4;
}

/*=============== 
FORM
==================*/
#form {
  width: 100%;

  background: #f6d743;
  padding: 80px 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#form form {
  width: 90%;
  max-width: 980px;

  background: white;

  padding: 40px;

  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15),
    0px 10px 20px -10px rgba(0, 0, 0, 0.1)
}

#form h3 {
  margin-bottom: 30px
}

#form form label {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label.right-inline {
  text-align: right;
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1;
  display: block;
  margin: -4px 8px 10px;
  padding: 12px;
  font-size: 1.6rem;
}

#form .button {
  margin: 20px 8px 10px;
}

/*=============== 
FORM
==================*/

footer {
  color: #fff;
  background: #06623b;
  text-align: center;
  padding: 3rem 0;
  margin-top: 6rem;
  font-weight: 100;
  font-size: 1.9rem;
}

footer p {
  margin: 15px;
}