@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

header {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  height: 80px;
  top: -100px;
  transition: top 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
  color: #fff;
}


li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

li a:hover {
  color: #DD3944;
}

h1 {
  margin-bottom: 0.5rem;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

h1 span {
  color: #DD3944;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

div h1 {
  padding: 35px;
  text-align: center;
  color: #DD3944;
}

div ul li {
  display: flex;
  flex-direction: column;
}

div ul li img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

div ul li footer {
  flex: 1;
  background: #fff;
  border: 1px solid #eee;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}

div ul li footer strong {
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
}

div ul li footer p {
  font-size: 16px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
  text-align: left;
}

div ul li a {
  text-decoration: none;
  color: #df4723;
  font-size: 24px;
}

div ul li .link-button {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

div ul li .link-button a {
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: #DD3944;
  text-align: center;
  color: #FFF;
  padding: 4rem 0;
  margin-bottom: 2rem;
}

main p {
  font-size: 1.2rem;
}

main h1 {
  font-size: 2rem;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  text-shadow: 1px 1px 0px #284473,
    2px 2px 0px #284473,
    3px 3px 0px #284473;
}

section {
  margin: auto;
  width: 75%;
}

section h1 {
  margin: 20px;
  font-size: 1.75rem;
  text-transform: uppercase;
}

section h2 {
  text-transform: uppercase;
  font-family: 'Open Sans'sans-serif;
  font-weight: 900;
  color: #222;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

section p {
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.05rem;
  line-height: 1.5rem;
}

.see-button {
  text-align: center;
  padding: 20px;
}

.see-button a {
  background-color: #009933;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.see-button a:hover {
  background-color: #006622;
}

footer {
  color: #fff;
  background: #222;
  text-align: center;
  padding: 3rem 0;
  margin-top: 6rem;
  font-weight: 100;
  font-size: 1.05rem;
}

footer p {
  margin: 15px;
}

footer a {
  text-decoration: none;
  margin: 2.3rem 0;
}

footer a img {
  width: 32px;
}